h1{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: capitalize;
}
h2{
    font-size: 22px;
    text-transform: capitalize;
    margin: 0;
    font-family: 'Times New Roman';
    font-weight: 400;
}
h3{
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}
body{
    background-image:  linear-gradient(rgb(14, 14, 13,0.8), rgb(15, 15, 15,0.8)), url("images/bg.jpg");
}
.navigasibar{
    background: linear-gradient( rgb(22, 26, 36),  rgb(61, 60, 60));
}
.navbar-brand img{
    width: 150px;
    height: 50px;
}
.navbar input{
    width: 100%;
    margin-top: 10px;
}
/* untuk menghilangkan link pada medsos ketika minimaze */
.navbar-nav .ms{
    display: none;
}
.navbar .login{
    color: black;
    font-size: 30px;
    margin: 3px;
}
.navbar-nav span{
    width: 2px;
    background-color: white;
    margin-left: 10px;
    display: none;
}
.navbar .medsos{
    line-height: 50px;
    color: rgb(221, 199, 199);
    display: none;
}
.navbar .medsos:hover{
    color: black;
}
.navbawah{
    background-color: rgb(48, 47, 47);
}
.navbawah .nav-link{
    color: rgb(252, 251, 251) !important;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", serif;
    margin-right: 15px;
}
.navbawah .nav-link:hover{
    background-color:rgba(40, 40, 189, 0.7);
    border-radius: 25px;
}
.contains{
    background-color: rgba(97, 96, 96, 0.2);
    padding: 10px 20px;
}
.contains hr{
    width: 200px;
    background: linear-gradient(to right, rgb(55, 25, 58), rgb(84, 84, 173)) ;
    height: 5px;
}
.contains a{
    text-decoration: none;
}
.contains .view{
    text-align: center;
    
}
.berita .kiri{
    margin-bottom: 35px;
}
.berita .card{
    background-color: rgb(66, 68, 68);
    margin-bottom: 15px;
}
.berita .card img{
    height: 200px;
}
.berita .card img:hover{
    transform: scale(1.1);
}
.berita .card-text{
    text-transform: capitalize;
    color: rgb(233, 226, 226);
    font-weight: 400;
    font-size: 18px;
    font-family: "roboto";
    text-align: justify;
}
/* game */
.game{
    margin-top: 50px;
    background-color: rgb(34, 34, 34);
    padding: 15px 5px;
}
.game .card{
    margin-bottom: 15px;
    background-color: rgb(66, 68, 68);
}
.game .card img{
    height: 200px;
}
.game .card img:hover{
    transform: scale(1.1);
}
.game .card-text{
    text-transform: capitalize;
    color: rgb(233, 226, 226);
    font-weight: 400;
    font-size: 18px;
    font-family: "roboto";
}
/* about */
.about{
    margin-top: 15px;
    background-color: rgb(129, 121, 121);
    padding: 20px 15px 50px;
}
.about p{
    color: rgb(205, 207, 207);
    font-size: 18px;
    text-align: justify;
}
.about img{
    rotate: 1deg;
}
.footer{
    background-color: rgb(136, 142, 146);
    height: 50px;
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-nav span{
        width: 2px;
        background-color: white;
        margin-left: 10px;
        display: block;
    }   
    .navbar .medsos{
        line-height: 50px;
        color: rgb(221, 199, 199);
        display: block;
    }
    .navbar input{
        width: 400px;
    }
    .navbar-nav .ms{
        display: block;
    }
 }